@model IEnumerable<WebBanHang.Models.EF.ProductCategory>

<h1>Chủ đề</h1>
<ul>
    @foreach (var item in Model)
    {
        <li>@Html.ActionLink(item.Title + "(" + item.Products.Count() + ")", "GetProductByCategory/" + item.Id, "Products")</li>
    }
</ul>