
@{
    ViewBag.Title = "Danh sach san pham";
}
<head>
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/single_styles.css">
    <link rel="stylesheet" type="text/css" href="~/Content/assets/css/single_responsive.css">
</head>
<div class="super_container">

    <!-- Header -->

    <header class="header trans_300">

        <!-- Top Navigation -->

        <div class="top_nav">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="top_nav_left">free shipping on all u.s orders over $50</div>
                    </div>
                    <div class="col-md-6 text-right">
                        <div class="top_nav_right">
                            <ul class="top_nav_menu">

                                <!-- Currency / Language / My Account -->

                                <li class="currency">
                                    <a href="#">
                                        usd
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="currency_selection">
                                        <li><a href="#">cad</a></li>
                                        <li><a href="#">aud</a></li>
                                        <li><a href="#">eur</a></li>
                                        <li><a href="#">gbp</a></li>
                                    </ul>
                                </li>
                                <li class="language">
                                    <a href="#">
                                        English
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="language_selection">
                                        <li><a href="#">French</a></li>
                                        <li><a href="#">Italian</a></li>
                                        <li><a href="#">German</a></li>
                                        <li><a href="#">Spanish</a></li>
                                    </ul>
                                </li>
                                <li class="account">
                                    <a href="#">
                                        My Account
                                        <i class="fa fa-angle-down"></i>
                                    </a>
                                    <ul class="account_selection">
                                        <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                                        <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main Navigation -->

        <div class="main_nav_container">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <div class="logo_container">
                            <a href="#">colo<span>shop</span></a>
                        </div>
                        <nav class="navbar">
                            <ul class="navbar_menu">
                                <li><a href="index.html">home</a></li>
                                <li><a href="#">shop</a></li>
                                <li><a href="#">promotion</a></li>
                                <li><a href="#">pages</a></li>
                                <li><a href="#">blog</a></li>
                                <li><a href="contact.html">contact</a></li>
                            </ul>
                            <ul class="navbar_user">
                                <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
                                <li><a href="#"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                                <li class="checkout">
                                    <a href="#">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <span id="checkout_items" class="checkout_items">2</span>
                                    </a>
                                </li>
                            </ul>
                            <div class="hamburger_container">
                                <i class="fa fa-bars" aria-hidden="true"></i>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <div class="fs_menu_overlay"></div>

    <!-- Hamburger Menu -->

    <div class="hamburger_menu">
        <div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class="hamburger_menu_content text-right">
            <ul class="menu_top_nav">
                <li class="menu_item has-children">
                    <a href="#">
                        usd
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        <li><a href="#">cad</a></li>
                        <li><a href="#">aud</a></li>
                        <li><a href="#">eur</a></li>
                        <li><a href="#">gbp</a></li>
                    </ul>
                </li>
                <li class="menu_item has-children">
                    <a href="#">
                        English
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        <li><a href="#">French</a></li>
                        <li><a href="#">Italian</a></li>
                        <li><a href="#">German</a></li>
                        <li><a href="#">Spanish</a></li>
                    </ul>
                </li>
                <li class="menu_item has-children">
                    <a href="#">
                        My Account
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="menu_selection">
                        <li><a href="#"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
                        <li><a href="#"><i class="fa fa-user-plus" aria-hidden="true"></i>Register</a></li>
                    </ul>
                </li>
                <li class="menu_item"><a href="#">home</a></li>
                <li class="menu_item"><a href="#">shop</a></li>
                <li class="menu_item"><a href="#">promotion</a></li>
                <li class="menu_item"><a href="#">pages</a></li>
                <li class="menu_item"><a href="#">blog</a></li>
                <li class="menu_item"><a href="#">contact</a></li>
            </ul>
        </div>
    </div>

    <div class="container product_section_container">
        <div class="row">
            <div class="col product_section clearfix">

                <!-- Breadcrumbs -->

                <div class="breadcrumbs d-flex flex-row align-items-center">
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="active"><a href="index.html"><i class="fa fa-angle-right" aria-hidden="true"></i>Men's</a></li>
                    </ul>
                </div>

                <!-- Sidebar -->

                <div class="sidebar">
                    @Html.Action("GetCategory", "Products")

                    <!-- Price Range Filtering -->
                    <div class="sidebar_section">
                        <div class="sidebar_title">
                            <h5>Filter by Price</h5>
                        </div>
                        <p>
                            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
                        </p>
                        <div id="slider-range"></div>
                        <div class="filter_button"><span>filter</span></div>
                    </div>

                    <!-- Sizes -->
                    <div class="sidebar_section">
                        <div class="sidebar_title">
                            <h5>Sizes</h5>
                        </div>
                        <ul class="checkboxes">
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>S</span></li>
                            <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>M</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>L</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XL</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>XXL</span></li>
                        </ul>
                    </div>

                    <!-- Color -->
                    <div class="sidebar_section">
                        <div class="sidebar_title">
                            <h5>Color</h5>
                        </div>
                        <ul class="checkboxes">
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Black</span></li>
                            <li class="active"><i class="fa fa-square" aria-hidden="true"></i><span>Pink</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>White</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Blue</span></li>
                            <li><i class="fa fa-square-o" aria-hidden="true"></i><span>Orange</span></li>
                        </ul>
                        <div class="show_more">
                            <span><span>+</span>Show More</span>
                        </div>
                    </div>

                </div>

                <!-- Main Content -->

                <div class="main_content">

                    <!-- Products -->

                    <div class="products_iso">
                        <div class="row">
                            <div class="col">

                                <!-- Product Sorting -->

                                <div class="product_sorting_container product_sorting_container_top">
                                    <ul class="product_sorting">
                                        <li>
                                            <span class="type_sorting_text">Default Sorting</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul class="sorting_type">
                                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "original-order" }'><span>Default Sorting</span></li>
                                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "price" }'><span>Price</span></li>
                                                <li class="type_sorting_btn" data-isotope-option='{ "sortBy": "name" }'><span>Product Name</span></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <span>Show</span>
                                            <span class="num_sorting_text">6</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul class="sorting_num">
                                                <li class="num_sorting_btn"><span>6</span></li>
                                                <li class="num_sorting_btn"><span>12</span></li>
                                                <li class="num_sorting_btn"><span>24</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <div class="pages d-flex flex-row align-items-center">
                                        <div class="page_current">
                                            <span>1</span>
                                            <ul class="page_selection">
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                            </ul>
                                        </div>
                                        <div class="page_total"><span>of</span> 3</div>
                                        <div id="next_page" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                    </div>

                                </div>

                                <!-- Product Grid -->

                                <div class="product-grid">

                                    <!-- Product 1 -->
                                    @Html.Action("Partial_ItemsByCateId", "Products")

                                </div>

                                <!-- Product Sorting -->

                                <div class="product_sorting_container product_sorting_container_bottom clearfix">
                                    <ul class="product_sorting">
                                        <li>
                                            <span>Show:</span>
                                            <span class="num_sorting_text">04</span>
                                            <i class="fa fa-angle-down"></i>
                                            <ul class="sorting_num">
                                                <li class="num_sorting_btn"><span>01</span></li>
                                                <li class="num_sorting_btn"><span>02</span></li>
                                                <li class="num_sorting_btn"><span>03</span></li>
                                                <li class="num_sorting_btn"><span>04</span></li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <span class="showing_results">Showing 1–3 of 12 results</span>
                                    <div class="pages d-flex flex-row align-items-center">
                                        <div class="page_current">
                                            <span>1</span>
                                            <ul class="page_selection">
                                                <li><a href="#">1</a></li>
                                                <li><a href="#">2</a></li>
                                                <li><a href="#">3</a></li>
                                            </ul>
                                        </div>
                                        <div class="page_total"><span>of</span> 3</div>
                                        <div id="next_page_1" class="page_next"><a href="#"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Benefit -->

    <div class="benefit">
        <div class="container">
            <div class="row benefit_row">
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>free shipping</h6>
                            <p>Suffered Alteration in Some Form</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>cach on delivery</h6>
                            <p>The Internet Tend To Repeat</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>45 days return</h6>
                            <p>Making it Look Like Readable</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>opening all week</h6>
                            <p>8AM - 09PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Newsletter -->

    <div class="newsletter">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                        <h4>Newsletter</h4>
                        <p>Subscribe to our newsletter and get 20% off your first purchase</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                        <input id="newsletter_email" type="email" placeholder="Your email" required="required" data-error="Valid email is required.">
                        <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">subscribe</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->

    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
                        <ul class="footer_nav">
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">FAQs</a></li>
                            <li><a href="contact.html">Contact us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                        <ul>
                            <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer_nav_container">
                        <div class="cr">©2018 All Rights Reserverd. Template by <a href="#">Colorlib</a> &amp; distributed by <a href="https://themewagon.com">ThemeWagon</a></div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</div>
<!-- Swiper-->
@*@Html.Action("MenuProductCategory", "Menu")*@

<!-- What We Offer-->
<!--<section class="section section-md bg-default">
    <div class="container">
        <h3 class="oh-desktop"><span class="d-inline-block wow slideInDown">Menu</span></h3>
        <div class="row row-md row-30">
            <div class="col-sm-6 col-lg-4">
                <div class="oh-desktop">-->
<!-- Services Terri-->
<!--<article class="services-terri wow slideInUp">
            <div class="services-terri-figure">
                <img src="~/Content/Images/banh.jpeg" alt="" width="370" height="278" />
            </div>
            <div class="services-terri-caption">
                <span class="services-terri-icon linearicons-ice-cream2"></span>
                <h5 class="services-terri-title"><a href="#">Bánh kem</a></h5>
            </div>
        </article>
    </div>
</div>
<div class="col-sm-6 col-lg-4">
    <div class="oh-desktop">-->
<!-- Services Terri-->
<!--<article class="services-terri wow slideInDown">
            <div class="services-terri-figure">
                <img src="~/Content/Images/commm.jpg" alt="" width="370" height="278" />
            </div>
            <div class="services-terri-caption">
                <span class="services-terri-icon linearicons-platter"></span>
                <h5 class="services-terri-title"><a href="#">Cơm</a></h5>
            </div>
        </article>
    </div>
</div>
<div class="col-sm-6 col-lg-4">
    <div class="oh-desktop">-->
<!-- Services Terri-->
<!--<article class="services-terri wow slideInUp">
            <div class="services-terri-figure">
                <img src="~/Content/Images/lauaua.jpeg" alt="" width="370" height="278" />
            </div>
            <div class="services-terri-caption">
                <span class="services-terri-icon linearicons-dinner2"></span>
                <h5 class="services-terri-title"><a href="#">Lẩu</a></h5>
            </div>
        </article>
    </div>
</div>
<div class="col-sm-6 col-lg-4">
    <div class="oh-desktop">-->
<!-- Services Terri-->
<!--<article class="services-terri wow slideInDown">
            <div class="services-terri-figure">
                <img src="~/Content/Images/passs.jpg" alt="" width="370" height="278" />
            </div>
            <div class="services-terri-caption">
                <span class="services-terri-icon linearicons-pizza"></span>
                <h5 class="services-terri-title"><a href="#">Đồ ăn nhanh</a></h5>
            </div>
        </article>
    </div>
</div>
<div class="col-sm-6 col-lg-4">
    <div class="oh-desktop">-->
<!-- Services Terri-->
<!--<article class="services-terri wow slideInUp">
            <div class="services-terri-figure">
                <img src="~/Content/Images/tra2.jpeg" alt="" width="370" height="278" />
            </div>
            <div class="services-terri-caption">
                <span class="services-terri-icon linearicons-coffee-cup"></span>
                <h5 class="services-terri-title"><a href="#">Nước uống</a></h5>
            </div>
        </article>
    </div>
</div>
<div class="col-sm-6 col-lg-4">
    <div class="oh-desktop">-->
<!-- Services Terri-->
<!--<article class="services-terri wow slideInDown">
                        <div class="services-terri-figure">
                            <img src="~/Content/Images/ganuonggg.jpeg" alt="" width="370" height="278" />
                        </div>
                        <div class="services-terri-caption">
                            <span class="services-terri-icon linearicons-steak"></span>
                            <h5 class="services-terri-title"><a href="#">Món nướng</a></h5>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>-->


<section class="section swiper-container swiper-slider swiper-slider-2 swiper-slider-3" data-loop="true" data-autoplay="5000" data-simulate-touch="false" data-slide-effect="fade">
    <div class="swiper-wrapper text-sm-left">
        <div class="swiper-slide context-dark" data-slide-bg="/Content/Images/hamberger2.jpg">
            <div class="swiper-slide-caption section-md">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-9 col-md-8 col-lg-7 col-xl-7 offset-lg-1 offset-xxl-0">
                            <h1 class="oh swiper-title"><span class="d-inline-block" data-caption-animate="slideInUp" data-caption-delay="0">Hamburger Hoàn Hảo</span></h1>
                            <p class="big swiper-text" data-caption-animate="fadeInLeft" data-caption-delay="300">Trải nghiệm hương vị của một chiếc bánh Hamberger hoàn hảo tại Hamberger, một trong những nhà hàng tốt nhất!</p><a class="button button-lg button-primary button-winona button-shadow-2" href="#" data-caption-animate="fadeInUp" data-caption-delay="300">Xem thực đơn của chúng tôi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide context-dark" data-slide-bg="/Content/Images/cherries-g778b7d36a_1920.jpg">
            <div class="swiper-slide-caption section-md">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-lg-7 offset-lg-1 offset-xxl-0">
                            <h1 class="oh swiper-title"><span class="d-inline-block" data-caption-animate="slideInDown" data-caption-delay="0">Nguyên liệu chất lượng</span></h1>
                            <p class="big swiper-text" data-caption-animate="fadeInRight" data-caption-delay="300">Chúng tôi chỉ sử dụng những nguyên liệu tốt nhất để làm món những món ăn có một không hai cho khách hàng của mình.</p>
                            <div class="button-wrap oh"><a class="button button-lg button-primary button-winona button-shadow-2" href="#" data-caption-animate="slideInUp" data-caption-delay="0">Xem thực đơn của chúng tôi</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Swiper Pagination-->
    <div class="swiper-pagination" data-bullet-custom="true"></div>
    <!-- Swiper Navigation-->
    <div class="swiper-button-prev">
        <div class="preview">
            <div class="preview__img"></div>
        </div>
        <div class="swiper-button-arrow"></div>
    </div>
    <div class="swiper-button-next">
        <div class="swiper-button-arrow"></div>
        <div class="preview">
            <div class="preview__img"></div>
        </div>
    </div>
</section>
<!-- Section CTA-->
<section class="primary-overlay section parallax-container" data-parallax-img="~/Content/Images/comm.jpeg">
    <div class="parallax-content section-xl context-dark text-md-left">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-sm-8 col-md-7 col-lg-5">
                    <div class="cta-modern">
                        <h3 class="cta-modern-title wow fadeInRight">Bầu không khí tốt nhất</h3>
                        <p class="lead">PizzaHouse là nơi có những chiếc bánh pizza ngon nhất và dịch vụ chất lượng cao.</p>
                        <p class="cta-modern-text oh-desktop" data-wow-delay=".1s"><span class="cta-modern-decor wow slideInLeft"></span><span class="d-inline-block wow slideInDown">Đọa Thiên, Người sáng lập</span></p><a class="button button-md button-secondary-2 button-winona wow fadeInUp" href="#" data-wow-delay=".2s">View Our Services</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Our Shop-->
<!--<section class="section section-lg bg-default">
    <div class="container">
        <h3 class="oh-desktop"><span class="d-inline-block wow slideInUp">Món ăn nổi bật</span></h3>
        <div class="row row-lg row-30">
            <div class="col-sm-6 col-lg-4 col-xl-3">-->
<!-- Product-->
<!--<article class="product wow fadeInLeft" data-wow-delay=".15s">
        <div class="product-figure">
            <img src="~/Content/Images/lauaua.jpeg" alt="" width="161" height="162" />
        </div>
        <div class="product-rating">
            <span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star text-gray-13"></span>
        </div>
        <h6 class="product-title">Lẩu âu</h6>
        <div class="product-price-wrap">
            <div class="product-price">200.000</div>
        </div>
        <div class="product-button">
            <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
            <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
        </div>
    </article>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3">-->
<!-- Product-->
<!--<article class="product wow fadeInLeft" data-wow-delay=".1s">
        <div class="product-figure">
            <img src="~/Content/Images/ganuonggg.jpeg" alt="" width="161" height="162" />
        </div>
        <div class="product-rating">
            <span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
        </div>
        <h6 class="product-title">Gân nướng</h6>
        <div class="product-price-wrap">
            <div class="product-price">45.000</div>
        </div>
        <div class="product-button">
            <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
            <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
        </div><span class="product-badge product-badge-new">Mới</span>
    </article>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3">-->
<!-- Product-->
<!--<article class="product wow fadeInLeft" data-wow-delay=".05s">
        <div class="product-figure">
            <img src="~/Content/Images/gakfc.jpeg" alt="" width="161" height="162" />
        </div>
        <div class="product-rating">
            <span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star text-gray-13"></span>
        </div>
        <h6 class="product-title">Gà rán</h6>
        <div class="product-price-wrap">
            <div class="product-price">74.000</div>
        </div>
        <div class="product-button">
            <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
            <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
        </div>
    </article>
</div>
<div class="col-sm-6 col-lg-4 col-xl-3">-->
<!-- Product-->
<!--<article class="product wow fadeInLeft">
                    <div class="product-figure">
                        <img src="~/Content/Images/nuocdua.jpeg" alt="" width="161" height="162" />
                    </div>
                    <div class="product-rating">
                        <span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span><span class="mdi mdi-star"></span>
                    </div>
                    <h6 class="product-title">Nước dừa</h6>
                    <div class="product-price-wrap">
                        <div class="product-price product-price-old">35.000</div>
                        <div class="product-price">20.000</div>
                    </div>
                    <div class="product-button">
                        <div class="button-wrap"><a class="button button-xs button-primary button-winona" href="#">Add to cart</a></div>
                        <div class="button-wrap"><a class="button button-xs button-secondary button-winona" href="#">View Product</a></div>
                    </div><span class="product-badge product-badge-sale">Giảm giá</span>
                </article>
            </div>
        </div>
    </div>
</section>-->
@section scripts{
    <script src="~/Content/assets/js/single_custom.js"></script>
}