@model IEnumerable<WebBanHang.Models.EF.Category>

@if (Model != null && Model.Any())
{
    <ul class="rd-navbar-nav">
        @foreach (var item in Model)
        {
            <li class="rd-nav-item">
                <a class="rd-nav-link" href="about-us.html">@item.Title</a>
            </li>
        }
        @*<li class="rd-nav-item active">
            <a class="rd-nav-link" href="index.html">Trang chủ</a>
        </li>
        <li class="rd-nav-item">
            <a class="rd-nav-link" href="about-us.html">About us</a>
        </li>
        <li class="rd-nav-item">
            <a class="rd-nav-link" href="contacts.html">Contacts</a>
        </li>
        <li class="rd-nav-item">
            <a class="rd-nav-link" href="contacts.html">Đăng nhập</a>
        </li>
        <li class="rd-nav-item">
            <a class="rd-nav-link" href="contacts.html">Đăng ký</a>
        </li>*@
    </ul>
}
